@import "~bootstrap/scss/bootstrap";
@import "editorStyle";
@import '~fork-awesome/scss/fork-awesome';
@import "btn";

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'source-code';
    src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

html, body {
    --bgr-color: #1D1F20;
    background-color: var(--bgr-color);
    position: relative;
    height: 100%;
    color: #efefef;
}

.full-height {
    height: 100%;
}

#boardName {
    height: 15px;
    margin: 0;
    border-width: 0;
}

.output {
    color: white;
}

.pc_action {
    font-weight: bold;
}

.edit_action {
    text-decoration: underline;
}

.ace_highlight-marker {
    position: absolute;
    background: rgba(255, 255, 0, 0.3);
    z-index: 1000; /* in front of all other markers */
}

.ace_highlight-finish {
    position: absolute;
    background: rgba(0, 255, 0, 0.3);
    z-index: 1000; /* in front of all other markers */
}

#component-log {
    background: white;
    color: black;
}

#component-control {
    padding: 0;
}

.item_board {
    padding: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.overflow-scroll {
    overflow-y: scroll;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fancy-text {
    border-style: solid;
    border-width: 2px;
    font-size: 150%;
    text-align: center !important;
    font-family: 'source-code' !important;
    color: #f3ed28 !important;
    background: #1D1F20 !important;
}

.fancier-text {
    color: white !important;
    font-size: 95% !important;
    overflow: scroll;
    border-color: #f3ed28;
    text-align: left !important;
    padding-left: 2%;
}

.orange-btn {
    background: #e76836;
    border-color: #e76836;
}

.click-cursor  {
    cursor: pointer !important;
}

#saved-msg {
    position: fixed;
    font-size: 300%;
    z-index: 99999;
    padding: auto;
    color: white;
    background: rgb(16, 182, 16);
    border-radius: 25px;
    border: 2px solid rgb(16, 182, 16);
    padding: 20px; 
}

.show-msg {
    animation: fade-in-out 1.5s;
    z-index: 99999 !important;
    opacity: 0 !important;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#component-speed-slider {
    width: 80% !important;
}

.sized-img {
    width: 35%;
    height: 35%;
}