/**
 * Css rules for the buttons in the game
 */
.btn-round {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 1px;
    border: 2px rgba(0, 0, 0, 0.6) solid;
    cursor: pointer;
    color: white;
    outline: none;
}

.g-icon {
    width: 50px;
    height: 50px;
    opacity: 0.5;

    &.l {
        background-image: url("../img/arrow_left.svg");
    }

    &.r {
        background-image: url("../img/arrow_right.svg");
    }

    &.w {
        background-image: url("../img/arrow_forward.svg");
    }
}

.grid-btn {
    width: 50px;
    height: 50px;
    background: #7b7b7b;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    --corner-r: 5px;

    &.r {
        border-bottom-right-radius: var(--corner-r);
        border-top-right-radius: var(--corner-r);
    }
    
    &.w {
        border-top-right-radius: var(--corner-r);
        border-top-left-radius: var(--corner-r);
    }

    &.l {
        border-top-left-radius: var(--corner-r);
        border-bottom-left-radius: var(--corner-r);
    }
}

.joystick-grid {
    display: grid;
    grid-row-gap: 0;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    justify-content: center;
}

.btn-round:hover {
    color: #efefef;
}

.btn-round:focus {
    outline: none;
}

.item_input {
    display: flex;
    justify-content: center;
}

.step:not(.disabled) {
    background: #0e2780;
}

.undo:not(.disabled) {
    background:  #ab0c06;
}

.play:not(.disabled) {
    background:  #037734;
}

.save:not(.disabled) {
    background:  #eda91b;
}

.direction {
    position: relative;
    height: 135px !important;
    min-height: 135px !important;
}

#component-task {
    margin-left: auto;
    margin-right: auto;
}

.home-btn.btn {
    position: fixed;
    height: 40px;
    width: 40px;
    font-size: 40px;
    z-index: 99999;
    padding: auto;
    color: white;
    opacity: 0.3;
}

.home-btn.btn:hover {
    opacity: 1;
}

#component-task-complete {
    opacity: 1;
}
