.ace_move, .ace_turn_left, .ace_turn_right, .ace_jump, .ace_branch, .ace_store, .ace_test{
	color: cyan;
	font-weight: bold;
}

.ace_success{
	color:green;
	font-style: italic;
}

.ace_fail{
	color:red;
	font-style: italic;
}

.ace_error{
	text-decoration: line-through;
	color: red;
}

.ace_label{
	font-style: italic;
	color: Crimson ;
}

.ace_storeArgument, .ace_testArgument{
	color:BlueViolet ;
	font-weight: bold;
}

.ace_direction{
	text-decoration: underline;
	color: orange;
}

.ace_editor {
	height: 100%;
}

.scroll {
	overflow-y: scroll;
}