<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aMazeing Project</title>
    <link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>
<div id="hostname" data-hostname="{{ hostname }}"></div>
<div class="hide alert alert-danger" role="alert" id="connectionAlert">
    No server connection!
</div>
<div style="position: absolute;width: 100%;height: 100%;">
    <div class="fancy-bgr"></div>
</div>
<div id="menus"></div>
<noscript>
    You need javascript.
</noscript>
<script type="text/javascript" src="menu.js"></script>
<script type="text/javascript" src="runtime.js"></script>
</body>
</html>
