<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aMAZEing Project</title>

    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
<div id="tid" data-tid="{{ tid }}"></div>
<div id="hostname" data-hostname="{{ hostname }}"></div>
<div class="hide alert alert-danger" role="alert" id="connectionAlert">
    No server connection!
</div>
<div class="container-fluid content">
    <a href="/" class="btn home-btn"><i class="fa fa-home" aria-hidden="true"></i></a>
    <div class="row full-height">
        <div id="board-wrap" class="item_board col-6 full-height">
            <canvas id="component-gameboard-canvas" class="gameBoard"></canvas>
            <div id="component-gameboard-name"></div>
        </div>
        <div class="col">
            <div id="component-control">
                <div id="control" class="pb-3 pt-3 text-center">
                    <p id="component-map-name"></p>
                    <div id="component-controller" class="mb-3 direction" data-toggle="buttons"></div>
                    <div id="component-input-buttons" class="item_input"></div>
                    <div id="component-slider-wrap"></div>
                    <div class="btn-group" id="component-task"></div>
                    <div class="text-white">
                        <div class="btn disabled text-white mt-2" id="component-task-complete"></div>
                    </div>

                    <div class="form-group row mt-2">
                        <label class="col-sm-2 col-form-row">Map: </label>
                        <div class="col-sm-10" id="component-map-selector"></div>
                    </div>
                </div>
                <div class="pt-3 scroll fancy-text" id="component-log"></div>
                <div class="pt-1" id="component-print-wrap"></div>
                <div id="component-log-buttons" style="float: right;"></div>
            </div>
        </div>
        <div class="col editor-container">
            <div id="component-input-editor" class="col-12"></div>
        </div>
    </div>
</div>
<noscript>
    You need javascript.
</noscript>
<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript" src="/runtime.js"></script>
</body>
</html>
